.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    background: white;
    filter: drop-shadow(0 0 0.75rem lightskyblue);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.__taskBoard {
    text-align: center;
    height: 100vh;
    width: 20vw;
    background: rgba(50, 50, 50, 0.1);
}

.__taskBoard li {
    list-style: none;
    background: #fff;
    border-radius: 2px;
    margin: 2%;
    padding-left: 10px;
    padding-right: 10px;
}

.__formBoard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
}

.__taskItem {
    background: white;
}

.error {
    color: red;
    display: none;
}